version: '2.3'
services:
  deepo:
    build: 
      context: .
      dockerfile: ./docker/deepo/Dockerfile
    runtime: nvidia
    command: jupyter notebook --no-browser --ip=0.0.0.0 --allow-root --NotebookApp.token= --notebook-dir='/data'
    ports:
      - "8888:8888"
    volumes:
      - ./data:/data
